WSCampanasComexPPG/CallWCFCampanaJSON/Connected Services/ServiceReference1/ServicioCampana2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://cmxcampaniadev.nac.ppg.com/WSCampania/ServicioCampana.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntidadesCampanasPPG.Modelo" />
  <xs:element name="GuardarCampana">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntidadesCampanasPPG.Modelo" minOccurs="0" name="Campana" nillable="true" type="q1:Campana" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCampanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarCampanaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarCampana">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarCampanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntidadesCampanasPPG.Modelo" minOccurs="0" name="MostrarCampanaResult" nillable="true" type="q2:Campana" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>