WSCampanasComexPPG/CallWCFCampanaJSON/Connected Services/ServiceReference1/ServicioCampana.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCampana" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://cmxcampaniadev.nac.ppg.com/WSCampania/ServicioCampana.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://cmxcampaniadev.nac.ppg.com/WSCampania/ServicioCampana.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://cmxcampaniadev.nac.ppg.com/WSCampania/ServicioCampana.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntidadesCampanasPPG.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioCampana_GuardarCampana_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCampana" />
  </wsdl:message>
  <wsdl:message name="IServicioCampana_GuardarCampana_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarCampanaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCampana_MostrarCampana_InputMessage">
    <wsdl:part name="parameters" element="tns:MostrarCampana" />
  </wsdl:message>
  <wsdl:message name="IServicioCampana_MostrarCampana_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostrarCampanaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioCampana">
    <wsdl:operation name="GuardarCampana">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCampana/GuardarCampana" message="tns:IServicioCampana_GuardarCampana_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCampana/GuardarCampanaResponse" message="tns:IServicioCampana_GuardarCampana_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarCampana">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCampana/MostrarCampana" message="tns:IServicioCampana_MostrarCampana_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCampana/MostrarCampanaResponse" message="tns:IServicioCampana_MostrarCampana_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ServicioCampana" />
</wsdl:definitions>